<% if @multi %>
	<%= form_tag("home/setEmpresa", method: "get") do %>
		<div class="field">
		   <%= select_tag :id, "@usuarioEmpresas, :id, :name"  %>
		</div>

		<div class="actions">
	    	<%= submit_tag 'Save'%>
	  	</div>
	<% end %>
<% end %>


