<h1>Editando produto</h1>
<%= javascript_include_tag "https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js" %>

<%= render 'form' %>

<%= link_to 'Show', @produto %> |
<%= link_to 'Back', produtos_path %>
